{
  "tools": [],
  "kwargs": {
      "nolog": true,
      "ai_prefix": "LLM-OS",
      "openai_api_key": "",
      "proxy": "",
      "think_depth": 3,
      "debug": false,
      "request_timeout": 60,
      "no_default": false,
      "model_name": "gpt-3.5-turbo"
  }
}