# todo
# for prompt syntax check
pydantic~=1.10.7

google-api-python-client

wikipedia

wolframalpha

# for web-request tool
aiohttp~=3.8.4
requests~=2.28.2
pyyaml~=6.0
beautifulsoup4~=4.12.0

# browser tool
lxml
selenium
webdriver_manager

# google fix https://segmentfault.com/q/1010000043296765?bd_source_light=4746641
pyopenssl
# for models openai
tenacity~=8.2.2

openai~=0.27.2

SQLAlchemy~=2.0.7

tiktoken~=0.3.2

arxiv

# for terminal_io
rich
python-dotenv
pyperclip
prompt_toolkit

setuptools~=65.6.3
pillow~=9.5.0
transformers~=4.27.4
torch~=2.0.0